/*BODY*/

body {
	font-family: helvetica;
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul {
	padding-left: 0;
	list-style: none;
}

/*MAIN*/

main {
	display: flex;
	align-items: space-between;
	justify-content: center;
}

h3 {
	margin-top: 5px;
	margin-bottom: 0;
}

main div {
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.Vegetarian {
	background-color: #BCED91;
}

.Beef {
	background-color: #C67171;
}

.visible {
	display: unset;
}

.hidden {
	display: none;
}

.burger-list > ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.burger-item {
	display: flex;
	flex-direction: column;
	border: 1px solid navy;
	width: 200px;
	align-items: center;
}

.burger-item p {
	margin: 0;
}

/*COOKING MODULE*/

#cooking-module {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 2;
}

#cooking-queues {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

#beef-div, #veggie-div {
	border: 1px, solid, purple;
	height: 200px;
	width: 200px;
	background-color: cornsilk;
	border: 1px solid black;
	margin-bottom: 5px;
}


#beef-queue, #veggie-queue {
	padding-left: 0;
}

#grill-spaces {
	width: 100%;
	display: flex;
	border: 1px solid green;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.grill {
	background-color: grey;
	width: 200px;
	height: 200px;
	margin: 10px;
}


/*ORDERED MODULE*/

#ordered-module {
	flex: 1;
}

/*SERVED MODULE*/

#served-module {
	flex: 1;
}