body {
	font-family: helvetica;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hidden {
	display: none;
}

main {
	display: flex;
	align-items: space-between;
	justify-content: center;
}

main div {
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

main ul {
	list-style: none;
}

.burger-list > ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.burger-item {
	display: flex;
	flex-direction: column;
	border: 1px solid navy;
	width: 200px;
}

.burger-item p {
	margin: 0;
}

#cooking-queue {
	border: 1px, solid, purple;
	height: 800px;
	width: 300px;
}

.Vegetarian {
	background-color: #BCED91;
}

.Beef {
	background-color: #C67171;
}

.visible {
	display: unset;
}